<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Toastycoin - get BOP addrs</title>
    <script type="text/javascript" src='../script/lib/web3.js'></script>
    <script type="text/javascript" src='../script/lib/jquery.min.js'></script>
    <script type="text/javascript" src='../script/abiDefinitions/bop_abi.js'></script>
    <script type="text/javascript" src='../script/abiDefinitions/bop_factory_abi.js'></script>
    <script type="text/javascript" src='../script/getAllBOPs.js'></script>
  </head>
  <body>
    
  </body>
</html>